* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
 width: 100%;
}

main{
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
button{
  color: #fff;
  padding: 15px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: crimson;
  position: relative;
  z-index: 9;
}
button:active{
  transform: scale(0.98);
}